In [8]:
import pandas as pd
from glob import glob

In [28]:
pd.set_option('display.max_columns', None)

In [23]:
glob('/Users/aidancook/Documents/bdb2024/data/provided_data/*')

['/Users/aidancook/Documents/bdb2024/data/provided_data/plays.csv',
 '/Users/aidancook/Documents/bdb2024/data/provided_data/tackles.csv',
 '/Users/aidancook/Documents/bdb2024/data/provided_data/tracking_week_5.csv',
 '/Users/aidancook/Documents/bdb2024/data/provided_data/tracking_week_4.csv',
 '/Users/aidancook/Documents/bdb2024/data/provided_data/tracking_week_6.csv',
 '/Users/aidancook/Documents/bdb2024/data/provided_data/tracking_week_7.csv',
 '/Users/aidancook/Documents/bdb2024/data/provided_data/tracking_week_3.csv',
 '/Users/aidancook/Documents/bdb2024/data/provided_data/tracking_week_2.csv',
 '/Users/aidancook/Documents/bdb2024/data/provided_data/tracking_week_1.csv',
 '/Users/aidancook/Documents/bdb2024/data/provided_data/players.csv',
 '/Users/aidancook/Documents/bdb2024/data/provided_data/games.csv',
 '/Users/aidancook/Documents/bdb2024/data/provided_data/tracking_week_9.csv',
 '/Users/aidancook/Documents/bdb2024/data/provided_data/tracking_week_8.csv']

In [40]:
tracking_df = []

# read in and concat week-specific data
for f_path in glob('/Users/aidancook/Documents/bdb2024/data/provided_data/*week*'):
    temp_df = pd.read_csv(f_path)
    tracking_df.append(temp_df)
tracking_df = pd.concat(tracking_df, axis = 0)

tracking_df.to_csv('/Users/aidancook/Documents/bdb2024/data/agg_data/tracking_df.csv')

In [41]:
print(tracking_df.shape)
display(tracking_df.head())

(12187398, 17)

,gameId,playId,nflId,displayName,frameId,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
0,2022100600,90,33084.0,Matt Ryan,1,2022-10-06 20:17:04.799999,2.0,IND,left,90.42,23.74,0.11,0.04,0.03,271.98,257.76,NaN
1,2022100600,90,33084.0,Matt Ryan,2,2022-10-06 20:17:04.900000,2.0,IND,left,90.39,23.74,0.14,0.06,0.03,272.84,256.68,NaN
2,2022100600,90,33084.0,Matt Ryan,3,2022-10-06 20:17:05.000000,2.0,IND,left,90.36,23.73,0.17,0.09,0.03,272.84,254.91,NaN
3,2022100600,90,33084.0,Matt Ryan,4,2022-10-06 20:17:05.099999,2.0,IND,left,90.32,23.73,0.19,0.11,0.04,275.80,260.06,NaN
4,2022100600,90,33084.0,Matt Ryan,5,2022-10-06 20:17:05.200000,2.0,IND,left,90.28,23.72,0.20,0.13,0.04,275.80,257.79,NaN

In [36]:
tracking_df['event'].value_counts()

event
first_contact                242262
tackle                       230924
ball_snap                    145408
handoff                      135381
pass_outcome_caught          130087
pass_arrived                 113825
out_of_bounds                 41629
run                           21804
man_in_motion                  9683
touchdown                      9523
play_action                    6463
shift                          3358
qb_slide                       3158
fumble                         2415
pass_forward                   1899
snap_direct                    1150
lateral                         618
line_set                        552
pass_shovel                     414
autoevent_passforward           360
autoevent_passinterrupted       324
qb_sack                         230
autoevent_ballsnap              162
fumble_defense_recovered        115
penalty_flag                     93
fumble_offense_recovered         69
safety                           69
run_pass_option                  23
pass_outcome_touchdown           22
penalty_accepted                 22
Name: count, dtype: int64

In [33]:
plays = pd.read_csv('/Users/aidancook/Documents/bdb2024/data/provided_data/plays.csv')
players = pd.read_csv('/Users/aidancook/Documents/bdb2024/data/provided_data/players.csv')
games = pd.read_csv('/Users/aidancook/Documents/bdb2024/data/provided_data/games.csv')
tackles = pd.read_csv('/Users/aidancook/Documents/bdb2024/data/provided_data/tackles.csv')

In [29]:
print(plays.shape)
display(plays.head())

(12486, 35)

,gameId,playId,ballCarrierId,ballCarrierDisplayName,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineSide,yardlineNumber,gameClock,preSnapHomeScore,preSnapVisitorScore,passResult,passLength,penaltyYards,prePenaltyPlayResult,playResult,playNullifiedByPenalty,absoluteYardlineNumber,offenseFormation,defendersInTheBox,passProbability,preSnapHomeTeamWinProbability,preSnapVisitorTeamWinProbability,homeTeamWinProbabilityAdded,visitorTeamWinProbilityAdded,expectedPoints,expectedPointsAdded,foulName1,foulName2,foulNFLId1,foulNFLId2
0,2022100908,3537,48723,Parker Hesse,(7:52) (Shotgun) M.Mariota pass short middle t...,4,1,10,ATL,TB,ATL,41,7:52,21,7,C,6.0,NaN,9,9,N,69,SHOTGUN,7.0,0.747284,0.976785,0.023215,-0.006110,0.006110,2.360609,0.981955,NaN,NaN,NaN,NaN
1,2022091103,3126,52457,Chase Claypool,(7:38) (Shotgun) C.Claypool right end to PIT 3...,4,1,10,PIT,CIN,PIT,34,7:38,14,20,NaN,NaN,NaN,3,3,N,76,SHOTGUN,7.0,0.416454,0.160485,0.839515,-0.010865,0.010865,1.733344,-0.263424,NaN,NaN,NaN,NaN
2,2022091111,1148,42547,Darren Waller,(8:57) D.Carr pass short middle to D.Waller to...,2,2,5,LV,LAC,LV,30,8:57,10,3,C,11.0,NaN,15,15,N,40,I_FORM,6.0,0.267933,0.756661,0.243339,-0.037409,0.037409,1.312855,1.133666,NaN,NaN,NaN,NaN
3,2022100212,2007,46461,Mike Boone,(13:12) M.Boone left tackle to DEN 44 for 7 ya...,3,2,10,DEN,LV,DEN,37,13:12,19,16,NaN,NaN,NaN,7,7,N,47,SINGLEBACK,6.0,0.592704,0.620552,0.379448,-0.002451,0.002451,1.641006,-0.043580,NaN,NaN,NaN,NaN
4,2022091900,1372,47857,Devin Singletary,(8:33) D.Singletary right guard to TEN 32 for ...,2,1,10,BUF,TEN,TEN,35,8:33,7,7,NaN,NaN,NaN,3,3,N,75,I_FORM,7.0,0.470508,0.836290,0.163710,0.001053,-0.001053,3.686428,-0.167903,NaN,NaN,NaN,NaN

In [42]:
print(plays['absoluteYardlineNumber'].min())
print(plays['absoluteYardlineNumber'].max())

11
109

In [32]:
print(players.shape)
display(players.head())

(1683, 7)

   nflId height  weight   birthDate     collegeName position     displayName
0  25511    6-4     225  1977-08-03        Michigan       QB       Tom Brady
1  29550    6-4     328  1982-01-22        Arkansas        T    Jason Peters
2  29851    6-2     225  1983-12-02      California       QB   Aaron Rodgers
3  30842    6-6     267  1984-05-19            UCLA       TE  Marcedes Lewis
4  33084    6-4     217  1985-05-17  Boston College       QB       Matt Ryan

In [34]:
print(games.shape)
display(games.head())

(136, 9)

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,homeFinalScore,visitorFinalScore
0,2022090800,2022,1,09/08/2022,20:20:00,LA,BUF,10,31
1,2022091100,2022,1,09/11/2022,13:00:00,ATL,NO,26,27
2,2022091101,2022,1,09/11/2022,13:00:00,CAR,CLE,24,26
3,2022091102,2022,1,09/11/2022,13:00:00,CHI,SF,19,10
4,2022091103,2022,1,09/11/2022,13:00:00,CIN,PIT,20,23

In [35]:
print(tackles.shape)
display(tackles.head())

(17426, 7)

       gameId  playId  nflId  tackle  assist  forcedFumble  pff_missedTackle
0  2022090800     101  42816       1       0             0                 0
1  2022090800     393  46232       1       0             0                 0
2  2022090800     486  40166       1       0             0                 0
3  2022090800     646  47939       1       0             0                 0
4  2022090800     818  40107       1       0             0                 0